{
  "plugins": [
    "transform-react-jsx",
    [
      "transform-es2015-modules-umd",
      {
        "globals": {
          "render": "render",
          "taljsx": "taljsx"
        }
      }
    ]
  ],
  "presets": ["env"]
}
